.footer {
    display:flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:beige;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    height: 7%;
    
}

#last1{
    color:brown;
    font-size: 30px;
    padding-top: 5px;
    margin-right: 5px;
    margin-left:200px;
}

#last2{
    color:brown;
    font-size: 30px;
    padding-top: 5px;
    margin-right: 5px;
    margin-left:200px;
}

#last3{
    color:brown;
    font-size: 30px;
    padding-top: 5px;
    margin-right: 5px;
    margin-left:200px;
}

#last4{
    color:brown;
    font-size: 30px;
    padding-top: 5px;
    margin-right: 5px;
    margin-left:200px;
}


.btn {
    background-color: rgb(93, 93, 206);
    height: 60px;
    width:60px;
    border-radius: 70%;
    color: azure;
    font-size: 20px;
}

.btn p{
    font-size: 30px;
}

button:hover{
    background-color: rgb(93, 93, 206);
    color:azure;
}

body{
    font-size: 25px;
}

footer{
    background-color: rgb(187, 223, 239);
    font-size: 18px;
    padding:20px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
