footer{
    background-color: rgb(187, 223, 239);
    font-size: 18px;
    padding:20px;
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}


.btn {
    background-color: rgb(93, 93, 206);
    height: 60px;
    width:60px;
    border-radius: 70%;
    color: azure;
    font-size: 20px;
}

.btn p{
    font-size: 30px;
}

button:hover{
    background-color: rgb(93, 93, 206);
    color:azure;
}

body{
    font-size: 25px;
}

